@charset "UTF-8";

/* 共通部分*/
html {
	font-size: 100%;

}

body {
	background-size: cover;
	background-image: url(../images/背景画像1.jpg);
}

/* レイアウト */


/* 見出し */
.heading-large {
	font-size: 3rem;
	text-align: center;
}

.heading-large {
	margin-bottom: 1rem;
	font-family: serif;
}

.about {
	max-width: 736px;
	padding: 0 1.5rem;
	margin: 3rem auto 0;
}

.about p {
	margin-bottom: 3rem;
}

/*表題の動く記述*/
.text-wrap {
	display: flex;
	gap: 2.5rem;
	font-size: 50px;
	font-family: fantasy;
	margin: 4rem;
	padding-top: 8rem;
	padding-bottom: 4rem;

}

.text-wrap:hover .letter {
	animation: sway 0.4s calc(0.04s * var(--index));
}

@keyframes sway {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(-0.2em);
	}

	50% {
		transform: translateX(0.5em);
		color: transparent;
	}

	100% {
		transform: translateY(0);
	}
}

/* ヘッダー*/
.page-header {
	padding-top: 4%;
	padding-left: 15%;
	padding-right: 10%;
	padding-bottom: 4%;

	background-color: rgb(240, 245, 135);
}

.main-nav {
	display: flex;
	gap: 14rem;
	list-style: none;
	font-family: cursive;
	color: black;
	list-style-position: inside;

}




/* ヘッダーカバー画像*/



/* HOME*/
.heading-large {
	background-size: cover;
	background-position: center bottom;
	height: 100px;
	margin-top: 10rem;
}

.Result {
	display: flex;
	justify-content:space-evenly;
	list-style: none;
	
}

.book {
	
	width: 100px;
	height: 100px;
	
	

}

.memo {
	background-color: azure;
	padding: 10%;


}

/*グラフ*/
.bar-chart-002 {
	font-size: 1.2em;
	padding: 0% 10% 0% 10%;

}

.bar-chart-002>div {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.bar-chart-002 dt {
	width: 110px;

}

.bar-chart-002 dd {
	width: 80%;
	margin: 0;
	border-radius: 4px;
	background-color: #f2f2f2;
}

.bar-chart-002 span {
	display: inline-block;
	padding-right: 15px;
	border-radius: inherit;
	background-color: #2589d0;
	color: #fff;
	font-weight: 600;
	line-height: 45px;
	text-align: right;
	white-space: nowrap;
	animation: anima-bar-chart-002 1.2s ease;
}

@keyframes anima-bar-chart-002 {
	from {
		width: 0;
	}
}

.skill-guide {
	padding: 0% 10% 0% 20%;
	font-size: 20px;
}

/* フッター*/
.info {
	width: 100%;
	max-width: 544px;
	margin: auto;
	padding: 0 1.5rem;
	border-spacing: 0;
}

.info th,
.info td {
	border-bottom: 1px solid #c9c2bc;
}

.info th {
	text-align: left;
	font-weight: normal;
	padding: 1rem;
}

.info td {
	padding: 1rem 0;
}

.copyright {
	background-color: rgb(240, 245, 135);
	text-align: center;
	padding: 2rem 0;
	margin-top: 6rem;
	color: rgb(0, 64, 128);
}



/* デスクトップ版*/
@media (min-width: 800px) {

	/* 見出し */
	.heading-large {
		font-size: 4rem;
		padding-bottom: 4%;
	}

	/* ヘッダー */
	.page-header {
		display: flex;
		justify-content: space-between;
		padding-top: 2.5rem;
	}

	.main-nav {
		font-size: 2rem;
		font-family: cursive;

	}


	/* HOME */

	.about {
		margin: 6rem auto 0;
	}


	/* フッター */
	.page-footer {
		padding-top: 12rem;
	}

	.info th {
		padding-left: 2.5rem;
	}


	span.githubpages {
		color: #FF0000;
		font-weight: bold;
	}
	
	
	